body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

.icon-button {
  background-color: DodgerBlue;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  padding: 10px 14px;
  outline: none;
}

.icon-button:hover {
  background-color: RoyalBlue;
}
