extends layout


block content
  script(src='/javascripts/users.controller.js')
  - var roles = ["Admin","Operador","Administrativo"];
  .main.container
    .row
      .col-md-6.col-md-offset-3
        h1.display-4.m-b-2=title
        form(id="user-form")
          div.form-group
            label(for='nick') Nick:
            input#nick.form-control(type='text', placeholder='Nick' name='nick'  value=`${user ? user.nick: ""}` required pattern="(^_|[a-zA-Z])[a-zA-Z]+$")
          div.form-group
            label(for='name') Nombre:
            input#name.form-control(type='text', placeholder='Nombre(s)' name='nombre'  value=`${user ? user.nombre: ""}` required)
          div.form-group
            label(for='apellidos') Apellidos:
            input#apellidos.form-control(type='text', placeholder='Apellidos' name='apellidos'  value=`${user ? user.apellidos: ""}`)
          div.form-group
            label(for='pw') Password:
            input#pw.form-control(type='password' name='password'  value=`${user ? user.password: ""}` required)
          div.form-group
            label(for='role') Rol:
            select#role.form-control(form="user-form" name="rol" required)
              each rol, index in roles
                option(value="Admin" selected=user ? rol === user.rol: index === 0)=rol
          div.form-group
            label(for='email') Email:
            input#email.form-control(type='email', placeholder='nombre@ejemplo.com' name='email'  value=`${user ? user.email: ""}`)
          button.btn.btn-primary(type='button' onclick="onSubmitUser('"+ verb +"')") Actualizar
        if(error)
            div.alert.alert-warning.alert-dismissible(role="alert")
                button#close.close(type="button" data-dismiss="alert" aria-label="Close")
                    span(aria-hidden="true") &times;
                strong Algo inesperado ocurrió 
                p=error.message