extends layout

block content
    script(src='/javascripts/users.controller.js')
    script(src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous")
    link(rel="stylesheet", href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css")
    script.
        $(document).ready(function() {
            $('#users-table').DataTable({
                pageLength: 10,
                lengthMenu: [1, 5, 10]
            });
        });
    .container
        .row
            h1 Tabla de usuarios
            button.btn.btn-primary.col-3.col-offset-9(type="button" onclick="addUser()") Añadir usuario
            
            if(usuarios.length)
                table#users-table.table.table-striped.table-bordered.table-hover(style="width:100%")
                    thead
                        tr
                            th(scope="col") #
                            th(scope="col") Nick
                            th(scope="col") Nombre(s)
                            th(scope="col") Apellidos
                            th(scope="col") Editar
                            th(scope="col") Eliminar
                    tbody
                        each val, index in usuarios
                            tr
                                th(scope="row")=index + 1
                                th=val.nick
                                th=val.nombre
                                th=val.apellidos
                                th.text-center 
                                    button.icon-button( onclick="updateUser('" + val._id + "')")
                                        i.glyphicon.glyphicon-pencil
                                th.text-center
                                    button.icon-button( onclick="deleteUser('" + val._id + "')")
                                        i.glyphicon.glyphicon-remove
            else 
                .alert.alert-danger(role="alert")
                    h1 No se encontraron registros, por favor realice uno y actualice la página.